NAMESPACE=default
# COMPOSE_FILE=docker-compose.yml
# COMPOSE_PROJECT_NAME=muge

# Password used when exporting the local ASP.NET Core development certificate.
DEV_CERTS_PASSWORD=passworddevcerts


# Seq UI/API at http://host.docker.internal:15341 and http://host.docker.internal:5341
SEQ_FIRSTRUN_ADMINUSERNAME=useradmin
SEQ_FIRSTRUN_ADMINPASSWORD=passwordadmin1


# Redis at host.docker.internal:6379
REDIS_PASSWORD=passwordadmin
REDIS_BINDMOUNT_0=~/.docker/volumes/muge/redis/data
REDISINSIGHT_BINDMOUNT_0=~/.docker/volumes/muge/redis-insight/data

# RabbitMQ management UI at http://host.docker.internal:15672; AMQP at 5672
RABBITMQ_USERNAME=useradmin
RABBITMQ_PASSWORD=passwordadmin
RABBITMQ_BINDMOUNT_0=~/.docker/volumes/muge/rabbitmq/mnesia
RABBITMQ_BINDMOUNT_1=~/.docker/volumes/muge/rabbitmq-plugins
RABBITMQ_DELAYED_EXCHANGE_VERSION=4.2.0

# SQL Server at host.docker.internal:1433
MSSQL_USERNAME=sa
MSSQL_PASSWORD=PasswordAdmin1!
MSSQL_BINDMOUNT_0=~/.docker/volumes/muge/mssql/data
MSSQL_BINDMOUNT_1=~/.docker/volumes/muge/mssql/log
MSSQL_BINDMOUNT_2=~/.docker/volumes/muge/mssql/secrets

# Durable Functions Monitor
DFM_USERNAME=sa
DFM_PASSWORD=PasswordAdmin1!

# Local storage mounted into the LINQPad Dapr sidecar
DAPR_LOCALSTORAGE_BINDMOUNT=C:/.ignore/localstorage
